/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.imgup {
  width:0;
}

/* quicksand-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/quicksand-v30-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('./fonts/quicksand-v30-latin-regular.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/quicksand-v30-latin-500.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('./fonts/quicksand-v30-latin-500.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/quicksand-v30-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('./fonts/quicksand-v30-latin-600.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/quicksand-v30-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('./fonts/quicksand-v30-latin-700.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* CSS Over-rides for the FullCalendar components */
.wrapper .fc .fc-button {
  border-radius: 2em;
  padding: 0.2em 0.5em;
}
.wrapper .fc .fc-toolbar-title {
  font-size: 1.25em;
}
/* @media (min-width: 576px) {
  .wrapper .fc .fc-toolbar-title {
    font-size: 1em;
  }
}@media (min-width: 630px) {
  .wrapper .fc .fc-toolbar-title {
    font-size: 1.25em;
  }
} */
.wrapper .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 0.3em;
}
.wrapper .fc .fc-button-primary {
  background-color: #336fac;
  border-color: #336fac;
}
.wrapper .fc .fc-button-primary:hover {
  background-color: #004c98;
  border-color:#004c98;
}
.wrapper .fc .fc-button {

  font-size: .9em;
}

.wrapper .fc .fc-button-primary:not(:disabled).fc-button-active,
.wrapper .fc .fc-button-primary:not(:disabled):active {
  background-color: #336fac;
  border-color: #336fac;
}

.wrapper .fc table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: .9em;
}

.wrapper .fc-direction-ltr .fc-list-day-side-text, .wrapper .fc-direction-rtl .fc-list-day-text {
float: right;
color: white;
}
.wrapper .fc .fc-list-event:hover td {
  background-color: #acacac
}
.wrapper .fc-direction-ltr .fc-list-day-text, .wrapper .fc-direction-rtl .fc-list-day-side-text {
  float: left;
  color: white;
}
.wrapper .fc-theme-standard .fc-list-day-cushion {
  background-color: #336fac;
}

.wrapper .fc-daygrid-dot-event.fc-event-mirror,
.wrapper .fc-daygrid-dot-event:hover {
  background: rgba(0, 0, 0, .4);
}
