@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.imgup {
  width:0;
}

/* CSS Over-rides for the FullCalendar components */
.wrapper .fc .fc-button {
  border-radius: 2em;
  padding: 0.2em 0.5em;
}
.wrapper .fc .fc-toolbar-title {
  font-size: 1.25em;
}
/* @media (min-width: 576px) {
  .wrapper .fc .fc-toolbar-title {
    font-size: 1em;
  }
}@media (min-width: 630px) {
  .wrapper .fc .fc-toolbar-title {
    font-size: 1.25em;
  }
} */
.wrapper .fc-direction-ltr .fc-list-day-side-text, .wrapper .fc-direction-rtl .fc-list-day-text {
float: right;
color: white;
}
.wrapper .fc .fc-list-event:hover td {
  background-color: #acacac
}
.wrapper .fc-direction-ltr .fc-list-day-text, .wrapper .fc-direction-rtl .fc-list-day-side-text {
  float: left;
  color: white;
}
.wrapper .fc-theme-standard .fc-list-day-cushion {
  background-color: #336fac;
}